/*Color Codes
Yellow: #ffcf06
Light blue: #0c5baa
Dark blue: #00274C
*/

/*For the themes across pages*/

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  z-index: 1;
}

.skip a:focus{
/*Add the selector and rule to move the skip link to the exact top.*/
  top: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../logos/wave\ block.png);
}

h2{
  font-weight: 500;
  color: #00274C;
  font-size: 22pt;
  font-family: "Rockwell";
}

h3{
  color: #00274C;
  font-size: 20pt;
  font-weight: 500;
  font-family: "Rockwell";
}

h4{
  color: #00274C;
  font-size: 18pt;
  font-weight: 500;
  margin: 5px 0px 5px 0px;
  font-family: "Rockwell";
}

p{
  font-weight: lighter;
  line-height: 1.33;
}

a{
  color: #006CE0;
}

ul{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.page-header{
  text-align: center;
  padding: 30px 30px 30px 30px;
  background-color: #ffcd06;
  margin: 30px 30px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Rockwell";
  color:#00274C;
}

.page-header h1{
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0px;
}

.page-header p{
    margin: 10px 0px 0px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
}

.page-card{
  text-align: center;
  padding: 40px 30px 40px 30px;
  background-color: white;
  margin: 30px 30px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12pt;
  color:rgb(65, 65, 65);
}

.btn.btn-outline-primary{
  margin: 15px 10px 0px 10px;
  border-color: #00274C;
  color:#00274C;
  min-width: 250px;
}

.btn.btn-outline-primary:hover{
  border-color: #00274C;
  background-color: #00274C;
  color:white;
}


.footer-title{
  padding: 0px 0px 0px 0px;
  margin: 7px 0px 16px 0px;
  font-size: 16pt;
}

.footer{
  padding: 20px 0px 20px 0px;
  color: white;
  text-align: center;
  background-color: #00274C;
}

.footer-logo{
padding: 0px 10px 0px 10px;
}

.footer-description{
margin: 15px 0px 0px 0px;
}

/*Navigation*/

#nav-logo{
  width: 200px;
  height: auto;
}

.navbar{
  background-color: #00274C;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

li.nav-item.active, .dot:hover{
  background-color: transparent;
  text-decoration: underline;
}

.navbar-dark .navbar-nav .active>.nav-link{
  color: #ffcd06;
}

/*Main Page*/

#video-grid{
  width: 90%;
  height: 18em;
  margin-top: 10px;
}

#valuesheader{
  margin-top: 30px;
  margin-bottom: 0px;
}

.value-card{
  margin: 25px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  color: white;
  background-color: rgb(0, 39, 76, 0.9);

}

.value-card h3 {
  color: white;
  margin: 20px 0px 20px 0px;
}

.value-card p{
  color: white;
  padding: 0px 25px 0px 25px;
}

.valuesimg{
  width: 100px;
  height: auto;
}

.team-card-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.front-team-card{
  padding: 0px 10px 0px 10px;
  max-width: 300px;
  padding: 10px 10px 10px 10px;
  max-width: 300px;
  border: 1px solid #00274C;
  margin: 10px;
  background-color: rgba(10, 39, 76, 0.25);
}

.teamlogo{
  width: auto;
  height: 150px;
  margin: 10px 0px 10px 0px;
}

/*Teams Page*/

.headshot-img{
  height: 175px;
  width: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px 0px 5px 0px;
}

.officer-card{
  margin: 25px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  color: white;
  background-color: rgb(0, 39, 76, 0.9);
}

.officer-card h4{
  color: white;
}

.officer-card h3{
  color: white;
}

.officer-card a{
  color: #ffcf06;
}

.officer-card p{
  margin-bottom: 0px;
}

.team-card-leader{
  margin: 20px 0px 10px 0px;
  background-color: rgb(0, 39, 76, 0.1);
  padding: 10px 10px 15px 10px;
}

.team-card-leader h3{
  color: #00274C;
  margin: 15px 0px 10px 0px;
}

.team-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.team-joining ul{
  text-align: left;
}

/* Competition Page */
.comp img{
  height: auto;
  width: 250px;
  border: 10px solid lightgray;
}

.map img{
  width: 250px;
  height: auto;
  margin: 0px 0px 30px 0px;
}

.map-desc li{
  text-align: center;
  color: #00274C;
  font-weight: 500;
  line-height: 1.1;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
  list-style-type: none;
}


.carousel{
  margin-top: 10px;
  max-width: 630px;
  display: inline-block;
  border: 5px solid rgb(71, 71, 71);
}

.carousel-indicators{
  padding: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, .5);
  margin-bottom: 0px;
}

.carousel-control-prev-icon{
  height: 30px;
  width: 30px;
}

.carousel-control-next-icon{
  height: 30px;
  width: 30px;
}

/* Donations and Sponsors Page */

.sponsors-page-card{
  text-align: center;
  padding: 0px 0px 20px 0px;
  background-color: white;
  margin: 30px 30px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12pt;
  color:rgb(65, 65, 65);
}

.sponsors-page-card h2{
  padding: 20px 0px 10px 0px;
}

.new-sponsor-card{
  text-align: center;
  padding: 30px 20px 30px 20px;
  background-color: white;
  margin: 10px 40px 30px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12pt;
  color:rgb(65, 65, 65);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-sponsor-card a{
  text-decoration: underline;
  color: #00274C;
}

.small-sponsor-card a{
  text-decoration: underline;
  color: #00274C;
}

.new-sponsor-card h3:hover{
  color:#005cb3;
}

.small-sponsor-card h3:hover{
  color:#005cb3;
}

.new-sponsor-logo{
  width: 150px;
  height: auto;
}

div.sunlight-zone{
  background:rgb(231, 243, 255);
}

div.twilight-zone{
  background:rgb(204, 219, 233);
}

div.midnight-zone{
  background:rgb(165, 188, 207);
}

div.hadal-zone{
  background:rgb(138, 170, 197);
}

.small-sponsor-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-sponsor-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  background-color: white;
  margin: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12pt;
  color:rgb(65, 65, 65);
  width: 90%;
}

.small-sponsor-logo{
  width: 150px;
  height: auto;
}

.small-zone-card{
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 0px 0px;
}

.sponsor-card-2{
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: white;
  margin: 20px 20px 10px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 12pt;
  color:rgb(65, 65, 65);
}

.sponsor-card-2 ul li{
  text-align: left;
  line-height: 1.33;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 20px;
}

/* Join Us Page */
.join-grid{
  display: grid;
  grid-template-columns: auto;
}

div.join-card{
  margin: 0px 30px 30px 30px;
}

.team-joining{
  align-items: center;
}

.team-joining ol li{
  text-align: left;
  list-style: inside;
  list-style-type: decimal;
  margin-bottom: 15px;
}

form{
  text-align: left;
}

/* Boat Iterations Page */

.boat-head{
  background-color: #00274C;
  color: white;
  padding: 20px;
}

.boat-head h2{
  color: white;
}

.no-bp{
  list-style-type: none;
  text-align: center;
}

.boat img{
  width: 350px;
  height: auto;
  margin: 15px;
}

.boat-flex{
  display: flex;
  flex-flow: row wrap;
}

.boat-desc li{
  text-align: left;
  color: #00274C;
  font-weight: 500;
  line-height: 1.1;
  padding: 0px 0px 0px 0px;
  margin: 15px 0px 0px 0px;
}

@media screen and (min-width: 500px){

  /* Competition Page */
  .map img{
    width: 380px;
    height: auto;
  }

}


@media screen and (min-width: 768px){

  /*Styling for all pages */
  .page-card{
    text-align: center;
    padding: 40px 60px 40px 60px;
    background-color: white;
    margin: 30px 60px 30px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12pt;
    color:rgb(65, 65, 65);
  }

  /*Navigation*/
  .navbar-collapse{
    justify-content: flex-end;
  }

  .nav-item{
    padding: 0px 6px 0px 6px;
  }

  /*Main Page*/
  #video-grid{
    width: 90%;
    height: 325px;
    margin-top: 10px;
  }

  .value-card{
    margin: 25px 10px 0px 10px;
  }

  /* Teams Page */
  .team-card{
    width: 250px;
    margin: 20px 20px 0px 20px;
  }

  .team-grid{
    flex-direction: row;
  }

  .team-card.special{
    width: auto;
  }

  /* Competition Page */

  .comp img{
    height: 300px;
    width: auto;
  }

  .map img{
    width: 520px;
    height: auto;
  }

  .list-flex{
    width: 700px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  /* Donations and Sponsors Page */
  .sponsors-page-card{
    margin: 30px 60px 30px 60px;
  }

  .small-sponsor-flex{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .small-sponsor-card h3{
    font-size: 14pt;
  }

  .small-sponsor-card{
    width: 225px;
    height: 250px;
  }

  .button-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (min-width: 950px){
  
  /*Main Page*/

  #video-grid{
    width: 600px;
    height: 325px;
    margin-top: 10px;
  }

  #mssvalues{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  /*Teams Page*/
  #officer-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-content: center;
  }

  /* Competition Page */
  .comp-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    align-items: center;
  }
  
  .comp-desc{
    grid-column: 2/-1;
    align-self: center;
    text-align: left;
    margin-left: 30px;
  }
  
  .comp{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .comp img{
    width: 100%;
    height: auto;
  }

  /* Donations and Sponsors Page */

  .new-sponsor-card{
    flex-direction: row;
    padding-left: 30px;
    justify-content: left;
  }

  .new-sponsor-content{
    order: 2;
    padding-left: 25px;
    text-align: left;
  }

  .new-sponsor-content p{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .new-sponsor-logo{
    width: 100px;
    height: auto;
  }

  .page-grid-2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    margin: 20px 0px 0px 0px;
  }

  /* Join Us Page */
  .join-grid{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .small-zone-card{
    margin: 10px 10px 10px 10px;
  }

  .sponsor-card-2{
    height: 300px;
  }
  
}

@media screen and (min-width: 1200px){
  
  /*Main Page*/
  
  #video-grid{
    width: 700px;
    height: 400px;
    margin-top: 20px;
  }

  #mssvalues{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
  }

  .value-card{
    margin: 25px 10px 0px 10px;
  }

  /* Teams Page */

  .top-team-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }

  .team-desc{
    align-self: center;
    padding: 0px 40px 0px 0px;
  }

  /* Competition Page */

  .comp-grid{
    grid-template-columns: 33% 67%;
  }

  .map-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    margin: 30px 0px 0px 0px;
  }

  .map img{
    width: 620px;
    height: auto;
  }

  .map-desc{
    margin-left: 20px;
  }

  .map-desc p{
    text-align: left;
  }

  .map-desc li{
    text-align: left;
    line-height: 1.33;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    list-style-type: initial;
    list-style-position: inside;
  }

  .list-flex{
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
  }

  /* Donations and Sponsors Page */
  .sponsor-card-2{
    height: 225px;
  }

}

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: initial;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: none;
  transition: none;
  z-index: 1;
}

.skip a:focus{
  top:0;
}
}
